<link rel="icon" type="image/svg+xml" href="/assets/chrome/favicons/cochid.svg">
<link rel="stylesheet" href="https://kit.innovacionsantiago.cl/v10/62845b655c03cb86561b403d3f4f5fdd3f08497cc0aae36866b4d50feaa0e536/style.css" integrity="sha384-SjVr7cjChsYpD35IGvMeKikrtLu8NaAbEj86aMoBnx6uo9uLI2vG3s4iTUvr8U2c" crossorigin="anonymous">
<script src="https://kit.innovacionsantiago.cl/v10/62845b655c03cb86561b403d3f4f5fdd3f08497cc0aae36866b4d50feaa0e536/theme.js" integrity="sha384-4z/J3/xbpw17qJScwLAq3N2hW5F9+5M9by+yIDuu63LedHlPJq2cZE716lDAxL3c" crossorigin="anonymous"></script>
<script defer src="https://kit.innovacionsantiago.cl/v10/62845b655c03cb86561b403d3f4f5fdd3f08497cc0aae36866b4d50feaa0e536/chrome.js" integrity="sha384-co7hY1m6MP6Ayzf+C2+5NEt419kZfQztoGNHKHJNk1+jVsBWW4RjteoprHRM/fQp" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/assets/portal.css">
